<div class="row">
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">IHG</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="row">
  <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
</div>
<div class="row">
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Home</a>
            </div>
          </div>
        </footer>
</div>